{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Nest Thermostat Control{% endblock %}

{% block head %}
    <meta charset="utf-8">
    {{super()}}
    {{fixes.ie8()}}
    <!-- Disable IE compatability mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

{%- endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href={{url_for('static', filename='css/material-wfont.min.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='css/ripples.min.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='css/base.css')}}>
{%- endblock %}

{% block content -%}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-brand">
                {%- if current_user.is_authenticated -%}
                    <a href={{url_for('user.devices')}} >
                {%- else -%}
                    <a href={{url_for('public.index')}} >
                {%- endif -%}
                Nest Thermostat</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated -%}
                        {% if current_user.is_admin -%}
                            <li title="Admin interface"><a href={{'/admin'}}>Admin Interface</a></li>
                        {%- endif %}
                        {% if current_user.is_nest_authenticated -%}
                            <li title="View devices"><a href={{url_for('user.devices')}}>View devices</a></li>
                            <li title="Nest Logout"><a href={{url_for('nest.logout')}}>Nest Logout</a></li>
                        {%- else -%}
                            <li title="Nest Login"><a href={{url_for('nest.login')}}>Nest Login</a></li>
                        {%- endif %}
                        <li class="active" title="Edit profile"><a href={{url_for('user.profile')}}><span class="glyphicon glyphicon-user"></span> {{ current_user.name }}</a></li>
                        <li title="Log out"><a href={{url_for('public.logout')}}><span class="glyphicon glyphicon-log-out"></span></a></li>
                    {%- else -%}
                        <li><a href={{url_for('public.signup')}}>Sign up</a></li>
                        <li class="active"><a href={{url_for('public.login')}}>Log in</a></li>
                    {%- endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block main -%}
        {%- endblock %}
    </div>
{%- endblock %}


{% block scripts %}
    {{super()}}
    <script src={{url_for('static', filename='js/ripples.min.js')}}></script>
    <script src={{url_for('static', filename='js/material.min.js')}}></script>
{% endblock %}
